* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 5px;
    background: #fff;
    color: black;
    width: auto;
}

.header .side {
    background: #fff;
    text-align: left;
}

.header .main_header{
    display: flex;
    background: #fff;
    color: black;
    font-weight: bold;
    justify-content: right;
}

.header img, .header p {
    vertical-align: middle;
}

.header .col {
    align-items: center;
    align-content: flex-start;
}
.header .row {
    border-style: none;
    margin: 0;
}

.presentation {
    padding: 5px;
    text-align: center;
    background: #333333;
    color: white;
    width: auto;
}

.presentation .side {
    background: #333333;
    text-align: left;
    padding: 5px;
}
.presentation .main {
    background: #333333;
    text-align: left;
    padding: 5px;
}


/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    border-style: solid;
    border-color: black;
    margin: 2px;
    overflow: hidden;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
}

.side {
    flex: 30%;
    background-color: #fff;
    padding: 10px;
    margin: 2px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 10px;
    margin: 2px;
    width: auto;
}

.main_header {
    flex: 70%;
    background-color: white;
    padding: 10px;
    margin: 2px;
    align-self: center;
    width: auto;
}

.bouton {
    float: right;
    color: black;
    padding: 0.2em;
    background-color: white;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.bouton a {
    color: black;
    padding: 0.2em ;
    text-decoration: none;
    text-align: center;
}

.bouton a:hover {
    background-color: #aaa;
}

.bouton img {
    max-width: 35px;
    max-height: 35px;

}

.rotate {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: transform 1s;
}
.rotate:hover {
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}

.center {
    display: flex;
    flex: 100%;
    padding: 10px;
    width: auto;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
}

.link {
    display: flex;
    color: black;
    padding: 0.2em 0.4em;
}

.link a {
    color: black;
    padding: 0.2em 0.4em;
    text-decoration: none;
    text-align: center;
}

.link a:hover {
    background-color: #aaa;
}

.fakeimg {
    width: auto;
    padding: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.fakeimg img {
    max-height: 150px;
    max-width: 200px;
    position: relative;
    left: -400px;
    -webkit-animation-name: lefttoright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.fakeimg_logo {
    width: auto;
    padding: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.fakeimg_logo img {
    position: relative;
    left: -400px;
    -webkit-animation-name: lefttoright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.login {
    flex: 100%;
    background-color: white;
    padding: 10px;
    width: auto;
    align-content: center;
}

.input_login {
    width: 100%;
}

.input_bouton {
    width: 100%;
}

.input_password {
    width: 100%;
}

.formulaire {
    width: 100%;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;

    width: auto;
}

.footer .row {
    border-style: none;

}

.commentaire {
    border-style: solid;
    padding: 10px;
    margin-right: 10px;
    margin-left: 5px;

}

.commentaire .main{
    padding: 2px;
}

.commentaire .col{
    padding: 2px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.commentaire .row{
    padding: 2px;
    border-style: none;
}

.error_message{
    display: flex;

    justify-content: space-around;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    color: black;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: red;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar{
        flex-direction: row;
        flex-wrap: nowrap;

        width: auto;
    }
    .col{
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
    }
    .fakeimg img {
        max-width: 80px;
        left: -100px;
    }
    .side{
        flex: 10%;
    }
    .main{
        flex:90%;
    }
    .fakeimg_logo img {
        max-width: 300px;
        left: -350px;
    }
    .bouton img {
        max-width: 25px;
        max-height: 25px;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes lefttoright {
    100%   {left:0px;}
}

/* Standard syntax */
@keyframes lefttoright {
    100%   {left:0px;}
}